#live-chat {
    height: 200px;
    width: 90%;
    max-width: 800px;
    overflow: scroll;
    word-break: break-word;
}

.chat-message .chat-message-author-name {
    padding-right: 1em;
}

.chat-message-author-name {
    color: gray;
}

.chat-message-paid-amount {
}

#video {
    width: 90%;
}
