.video-content-container {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
}

.video-container {
    flex: 1 1 1000px;
    margin: 2px;
}

#live-chat {
    flex: 1 1 1000px;
    overflow: scroll;
    word-break: break-word;
    margin: 2px;
}

@media only screen and (max-width: 1000px) {
    .video-container {
        max-height: 40vh;
    }

    #live-chat {
        max-height: 55vh;
    }
}

@media only screen and (min-width: 1000px) {
    .video-container {
        max-height: 95vh;
        max-width: 70vw;
    }

    #live-chat {
        max-height: 95vh;
        max-width: 25vw;
    }
}

#video {
    width: 100%;
    height: 100%;
}

.chat-message .chat-message-author {
    padding-right: 1em;
}

.chat-message-author {
    color: gray;
    text-decoration: inherit;
}

.chat-message-paid-amount {
}

.chat-emoji {
    width: 30px;
    height: 30px;
}

.video-description {
    white-space: pre-wrap;
}
