.video-card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-card {
    flex: 0 1 210px;
    padding: 2px;
}

.video-card a {
    text-decoration: none;
    color: inherit;
}

.video-card-thumbnail-container {
    position: relative;
}

.video-card-thumbnail {
    width: 210px;
}

.video-card.unarchived .video-card-thumbnail {
    opacity: 0.25;
}

.video-card-title {
    word-break: break-word;
}

.video-card-duration {
    font-size: 80%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: black;
    color: white;
}

.video-card-date, .video-card-viewcount, .video-card-rating {
    font-size: 80%;
    white-space: nowrap;
}

.video-card-list-sorting .video-card-list-sort {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}
