.video-content-container {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
}

.video-container {
    flex: 1 1 1000px;
    margin: 2px;
}

#live-chat {
    flex: 1 1 1000px;
    overflow: scroll;
    word-break: break-word;
    margin: 2px;
}

@media only screen and (max-width: 1000px) {
    .video-container {
        height: 40vh;
    }

    #live-chat {
        height: 55vh;
    }
}

@media only screen and (min-width: 1000px) {
    .video-container {
        height: 80vh;
        max-width: 70vw;
    }

    #live-chat {
        height: 80vh;
        max-width: 25vw;
    }
}

#video {
    width: 100%;
    height: 100%;
}

.chat-message {
    padding: 2px;
    line-height: 28px;
}

.chat-message-normal .chat-message-body {
    padding-left: 1em;
}

.chat-message-author {
    color: gray;
    text-decoration: inherit;
}

.chat-message-paid-amount {
}

.chat-emoji-container {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 14px;
}

.chat-emoji {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 0;
    margin: auto;
}

.video-description {
    white-space: pre-wrap;
}
