/* Video */

.video-content-container {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
}

.video-container {
    flex: 1 1 1000px;
    margin: 2px;
}

#video {
    width: 100%;
    height: 100%;
}

/* Different video states */

.video-thumbnail-preview {
    width: 60%;
}

.video-thumbnail-preview img {
    width: 100%;
}


/* Chat */

#live-chat {
    flex: 1 1 1000px;
    margin: 2px;
}

#live-chat-messages {
    overflow-y: scroll;
    word-break: break-word;
    height: 100%;
}

#live-chat-tickers {
    overflow-x: scroll;
    white-space: nowrap;
}

.chat-message {
    padding: 2px;
    line-height: 28px;
}

.chat-message-timestamp {
    color: gray;
    padding-right: 0.5em;
    font-size: 70%;
}

.chat-message-normal .chat-message-body {
    padding-left: 0.5em;
}

.chat-message-author {
    color: gray;
    text-decoration: inherit;
}

/* New member */

.chat-new-member {
    background-color: #0f9d58;
}

.chat-new-member .chat-message-author.chat-message-author-sponsor {
    color: #eee;
}

/* badge colors */

.chat-message-author.chat-message-author-sponsor {
    color: #2ba640;
}

.chat-message-author.chat-message-author-owner {
    background-color: #ffd600;
    color: #111;
}

.chat-message-author.chat-message-author-moderator {
    color: #5e84f1;
}

/* badge icons */

.chat-message-author.chat-message-author-verified::after {
    color: #eee;
    content: " ✔";
}

.chat-message-author.chat-message-author-moderator::after {
    color: #eee;
    content: " 🔧";
}

.chat-message-author.chat-message-author-verified.chat-message-author-moderator::after {
    color: #eee;
    content: " ✔🔧";
}

.chat-message-author-sponsor-badge-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
}

.chat-message-author-sponsor-badge {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 0;
    margin: auto;
}

/* Emoji */

.chat-emoji-container {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 14px;
}

.chat-emoji {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 0;
    margin: auto;
}

/* Chat tickers */

.chat-ticker {
    display: inline-block;
    /* TODO */
}

.chat-ticker.chat-ticker-message-paid {
    /* TODO */
}

.chat-ticker-paid-amount {
    /* TODO */
}

/* Responsiveness */

@media only screen and (max-width: 1000px) {
    .video-container {
        height: 40vh;
    }

    #live-chat {
        height: 50vh;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .video-container {
        height: 80vh;
        max-width: 70vw;
    }

    #live-chat {
        height: 80vh;
        max-width: 25vw;
    }
}


/* Video details */

.video-sub {
    color: gray;
}

.video-sub .youtube-video-link {
    color: inherit;
}

.video-date, .video-viewcount, .video-rating {
    white-space: nowrap;
}

.video-description {
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 600px;
}

/* Channel */

.channel .channel-name {
    font-weight: 500;
}

.channel a {
    text-decoration: none;
    color: inherit;
}

.channel-avatar {
    display: inline-block;
    width: 70px;
}

.channel-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}
